.asset {
  height: 150px;
  display: inline-block;
  margin: 3px;
  padding: 5px;
  background: #eee;
  vertical-align: top;
}
.asset-manager .heading {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.asset-manager .subheading {
  color: black;
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
}
.asset .img-container {
  width: 100%;
  height: 100px;
}
.img-container img {
  cursor: pointer;
  height:90px;
  width: auto;
}
.asset-manager .btn {
  color: white;
  background: #333;
  font-size:9px;
  line-height: 12px;
  margin: 2px;
  padding: 2px;
  text-shadow: none;
  vertical-align: top;
}
.asset-manager .btn:hover {
  color:white;
  background: #333;
}
.asset-manager .insert.btn {
  background: #33CC33;
  padding: 2px 22px;
}
.asset-manager .delete.btn {
  background: #990000;
}
.asset-manager .replace.btn {
  background: #3333EE;
}

.section {
  margin: 20px 0;
  padding: 20px 10px;
  background: #FFF;
  border-bottom: 1px dashed #eee;
}
.upload_infobar {
  background: none;
}
#close_link {
  display: block;
}

.work-pad {
  text-align: center;
}
.work-pad .asset {
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.work-pad .asset .btn {
  display: none;
}
.work-pad .asset .img-container {
  display: block;
  height: initial;
  margin: 5px auto;
}
.replace-with-this.btn {
  display: none;
  background: #3333aa;
}
.replace-with-this.btn:hover {
   background: #3333dd;
}

.section.existing.asset-replace-mode .btn {
  display: none;
}

.section.existing.asset-replace-mode .replace-with-this.btn {
  display: block;
}
.work-pad .cancel {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}
.work-pad .step-two-instructions {
  margin: 50px auto;
}
.work-pad .btn.proceed {
  background: green;
}