#uploaded-images .asset {
  width: 100px;
  height: 150px;
  display: inline-block;
  margin: 3px;
  background: #eee;
  vertical-align: top;
}
.asset .img-container {
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}

.asset .controls .btn {
  color: white;
  font-size:9px;
  line-height: 12px;
  margin: 0 2px;
  padding: 4px;
  text-shadow: none;
}
.asset .controls .insert.btn {
  background: #009900;
}
.asset .controls .delete.btn {
  background: #990000;
}
.img-container img {
  cursor: pointer;
  margin: 5%;
  max-width: 90%;
  max-height: 90%;
}
.section {
  margin: 20px 0;
  padding: 20px 10px;
  background: #FFF;
  border-bottom: 1px dashed #eee;
}
.upload_infobar {
  background: none;
}
#close_link {
  display: block;
}

/* Show/Hide controls based on user permissions for this bucket. JS assigns the permissions class. */
#uploaded-images .asset .delete.btn { display: none; }
#uploaded-images.userCanDelete .asset .delete.btn { display: inline-block; }
#uploaded-images .asset .replace.btn { display: none; }
#uploaded-images.userCanReplace .asset .replace.btn { display: inline-block; }
