<?php
header("Content-type: text/css");
?>

/* styles to override browser defaults */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0px;
	padding:0px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	color: black;
	margin-top: 10px;
}
ul {
	margin-left: 15px;
}
hr {
	padding: 0px;
	border-top: 1px #000000 solid;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}
p {
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-width: 100px;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 17px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 11px;
}
h6 {
	font-size: 10px;
}


.yuimenu {
	z-index: 10; 
}

.ctepathwaysBox {
  position: absolute;
  font-family: verdana;
}

.chSchoolLogo {
  float:left;
  margin-right: 20px;
}


/**
 * box
 */

.ctepathwaysBoxTitle {
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.ctepathwaysBoxContent {
  position: absolute;
  height: auto;
  font-size: 11px;
}

.ctepathwaysBoxTitle, .ctepathwaysBoxContent {
	width: 100%;
	overflow: hidden;
	cursor: default;
}

.ctepathwaysBox input, .ctepathwaysBox textarea {
  background-color: #ffc;
  border: none;
}


.brush {
  position: absolute;
  width: 16px;
  height: 16px;
	z-index: 9;
}

.toolbar .button {
  margin: 2px;
  padding: 5px;
  /*border: 1px solid #CF9D2B;*/
  background-color: #E6D09E;
  cursor: pointer;
}

.toolbar .button:hover {
  background-color: #ffffff;
}

.toolbar .trash {
  background-color: #e0e0e0;
  cursor: default;
}

.toolbar .color {
  padding: 0;
  margin: 2px;
  float: left;
  width: 19px;
  height: 19px;
}



.hash {
	background: url(/images/hash.png);
	height: auto;
	width: auto;
	!height: 100%;
}


.overlay_outdated, .overlay_draft {
	margin-left: 200px;
	margin-top: 200px;
	position: absolute;
	z-index: 400;
}

.overlay_outdated {
  background: url('/images/outdated-overlay.png');
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+base_url+"/images/outdated-overlay.png',sizingMethod='image');
  !background: none;
}
.overlay_draft {
  background: url('/images/draft-overlay.png');
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+base_url+"/images/draft-overlay.png',sizingMethod='image');
  !background: none;
}


