<?php
header("Content-type: text/css");
?>

.yuimenu {
	z-index: 10; 
}
.box input, .box textarea {
  border: none;
}

.box {
  position: absolute;
  font-family: verdana;
}

.box td.n, .box td.s, .box td.e, .box td.w, .box td.nw, .box td.ne, .box td.sw, .box td.se {
  font-size: 0px;
}

.chSchoolLogo {
  float:left;
  margin-right: 20px;
}

.box li {
  margin: 0px;
}

/**
 * line
 */
.line.v td.c {
  width: 5px;
  height: auto;
  !height: 100%;
}


/**
 * box
 */

.box td.c {
  height: auto;
}

.box td.n {
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.box td.w {
  width: 10px;
}

.box td.c {
  vertical-align: top;
  font-size: 11px;
}

.box td.e {
  width: 10px;
}

.box td.s {
  height: 10px;
}

.box input, .box textarea {
  background-color: #ffc;
}

.box ul {
	margin-left: 0px;
	padding-left: 15px;
}


.brush {
  position: absolute;
  width: 16px;
  height: 16px;
	z-index: 9;
}

.toolbar .button {
  margin: 2px;
  padding: 5px;
  /*border: 1px solid #CF9D2B;*/
  background-color: #E6D09E;
  cursor: pointer;
}

.toolbar .button:hover {
  background-color: #fff;
}

.toolbar .trash {
  background-color: #e0e0e0;
  cursor: default;
}

.toolbar .color {
  padding: 0;
  margin: 2px;
  float: left;
  width: 19px;
  height: 19px;
}

/* styles to override browser defaults */
.ctpathways ul, .ctpathways ol {
	margin-top: 0px;
	margin-bottom: 0px;
}
.ctpathways p {
	margin-top: 1em;
	margin-bottom: 1em;
	min-width: 100px;
}

.hash {
	background: url(/images/hash.png);
	height: auto;
	width: auto;
	!height: 100%;
}
.normal {

}


.overlay_outdated, .overlay_draft {
	margin-left: 200px;
	margin-top: 200px;
	position: absolute;
	z-index: 400;
}

.overlay_outdated {
  background: url('/images/outdated-overlay.png');
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+base_url+"/images/outdated-overlay.png',sizingMethod='image');
  !background: none;
}
.overlay_draft {
  background: url('/images/draft-overlay.png');
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+base_url+"/images/draft-overlay.png',sizingMethod='image');
  !background: none;
}


