<?php
header("Content-type: text/css");
?>

body {
	font-family: verdana;
}

.yuimenu {
	z-index: 10; 
}
.ctepathwaysBox input, .ctepathwaysBox textarea {
  border: none;
}

.ctepathwaysBox {
  position: absolute;
  font-family: verdana;
}


.chSchoolLogo {
  float:left;
  margin-right: 20px;
}

.ctepathwaysBox li {
  margin: 0px;
}


/**
 * box
 */

.ctepathwaysBoxTitle {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.ctepathwaysBoxContent {
  position: absolute;
  height: auto;
  font-size: 11px;
}

.ctepathwaysBoxTitle, .ctepathwaysBoxContent {
	width: 100%;
	overflow: hidden;
	cursor: default;
}

.ctepathwaysBox input, .ctepathwaysBox textarea {
  background-color: #ffc;
}

.ctepathwaysBox ul {
	margin-left: 0px;
	padding-left: 15px;
}


.brush {
  position: absolute;
  width: 16px;
  height: 16px;
	z-index: 9;
}

.toolbar .button {
  margin: 2px;
  padding: 5px;
  /*border: 1px solid #CF9D2B;*/
  background-color: #E6D09E;
  cursor: pointer;
}

.toolbar .button:hover {
  background-color: #fff;
}

.toolbar .trash {
  background-color: #e0e0e0;
  cursor: default;
}

.toolbar .color {
  padding: 0;
  margin: 2px;
  float: left;
  width: 19px;
  height: 19px;
}

/* styles to override browser defaults */
ul, ol {
	margin-top: 0px;
	margin-bottom: 0px;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
	min-width: 100px;
}

hr
{
  border-top: 1px #003366 solid;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding-bottom: 5px;
  margin: 0px;
  margin-top: 5px;
}


h1
{
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 13pt;
  color:#001133;
  margin: 0px;
}
h2
{
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 13pt;
  color:#cf9d2b;
  margin: 0px;
}
h3
{
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 10pt;
  color:#003366;
}
h4
{
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 10pt;
  color:#999999;
}


.hash {
	background: url(/images/hash.png);
	height: auto;
	width: auto;
	!height: 100%;
}
.normal {

}


.overlay_outdated, .overlay_draft {
	margin-left: 200px;
	margin-top: 200px;
	position: absolute;
	z-index: 400;
}

.overlay_outdated {
  background: url('/images/outdated-overlay.png');
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+base_url+"/images/outdated-overlay.png',sizingMethod='image');
  !background: none;
}

.overlay_draft {
  background: url('/images/draft-overlay.png');
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+base_url+"/images/draft-overlay.png',sizingMethod='image');
  !background: none;
}


