
body {
	font-family: verdana, sans-serif;
	font-size: 8pt;
	margin: 0;
	padding: 0;
}

a:link, a:hover, a:active, a:visited {
	color: #001133;
}

td {
	font-size: 8pt;
}

#post_title {
	height: 19px;
	background-color: #295a76;
}
#post_title_container {
	margin-bottom: 10px;
}
#skillset {
	margin-left: 5px;
	font-weight: bold;
}

table.post_chart {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto;
}

table.post_chart td, table.post_chart th {
	border: 1px #999999 solid;
}

table.post_chart th {
	font-size: 9pt;
}

.post_head {
	color: black;
	font-weight: bold;
	background-color: #DDDDDD;
	text-align: center;
	vertical-align: middle;
}

.post_cell {
	text-align: center;
	vertical-align: middle;
	width: 120px;
	padding: 0 10px;
}

.post_cell ol, .post_cell ul {
	text-align: left;
	margin-left: -20px;
}
.post_cell_hover {
	background-color: #FFFFAA !important;
}
.post_cell_dragHover {
	border: 2px #FF7777 solid;
}
.post_cell .cell_container {
	position: relative;
}
.post_cell .post_draggable {
	padding: 16px 0;
}
.post_cell .legend {
	position: absolute;
	top: 2px;
	left: 2px;
}


.post_draggable {
	width: 100%;
}


.post_sidebar_right, .post_sidebar_left {
	vertical-align: middle;
	width: 9px;
}

.post_sidebar_right {
	text-align: left;
}
.post_sidebar_left {
	text-align: right;
}

.post_footer, .post_headers {
	font-size: 7pt;
	height: 14px;
}

.post_row_editable {
	cursor: pointer;
}

.postGreyboxWrapper {
	background: #FFFFFF;
	border: 1px #777777 solid;
	width: 425px;
	margin-left: 25px;
}
.postGreyboxContent {
	padding: 10px;
}
.greyboxError {
	color: #AA0000;
	font-weight: bold;
}


.greyboxClose {
	position: absolute;
	right: 0;
	top: 0;
}

.error {
	padding: 10px;
	color: #FF3333;
}


#tabscc .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 0;
}

.postEditHS .tip, .postEditCC .tip {
	margin-bottom: 5px; 
	margin-right: 30px; 
	font-style: italic;
}
