
#tabshs, #tabscc {
	border: 0;
}

#tabshs ul.ui-tabs-nav, #tabscc ul.ui-tabs-nav {
	display: none;
}

.tabs_hs, .tabs_cc {
	margin-bottom: 20px;
}

table.post_chart {
	page-break-inside: avoid;
	margin: 0;
}

.ui-tabs .ui-tabs-hide.tabs_hs, .ui-tabs .ui-tabs-hide.tabs_cc {
	display: block !important;
}
