<?php
header("Content-type: text/css");
?>

body {
	font-family: verdana, sans-serif;
	font-size: 8pt;
	margin: 0;
	padding: 0;
}

a:link, a:hover, a:active, a:visited {
	color: #001133;
}

td {
	font-size: 8pt;
}

#post_title {
	height: 17px;
	background-color: #649FC2;
	margin-bottom: 10px;
}

table.post_chart {
	border-collapse: collapse;
	border-spacing: 0;
}

table.post_chart, table.post_chart td, table.post_chart th {
	border: 1px #999999 solid;
	margin: 0 auto;
}

table.post_chart th {
	font-size: 9pt;
}

.post_head {
	color: black;
	font-weight: bold;
	background-color: #DDDDDD;
	text-align: center;
	vertical-align: middle;
}

.post_cell {
	text-align: center;
	vertical-align: middle;
	width: 120px;
	padding: 12px 0;
}
.post_cell_hover {
	background-color: #FFFFAA !important;
}
.post_cell_dragHover {
	border: 2px #FF7777 solid;
}

.post_draggable {
	width: 100%;
	height: 100%;
}


.post_sidebar_right, .post_sidebar_left {
	vertical-align: middle;
	width: 9px;
}

.post_sidebar_right {
	text-align: left;
}
.post_sidebar_left {
	text-align: right;
}

.post_footer {
	font-size: 7pt;
	height: 14px;
}

.postGreyboxWrapper {
	background: #FFFFFF;
	border: 1px #777777 solid;
	width: 425px;
	margin-left: 25px;
}
.postGreyboxContent {
	padding: 10px;
}
.greyboxError {
	color: #AA0000;
	font-weight: bold;
}
