/* Drawing Header styles for POST and Roadmap Drawings */
.drawing-header {
	display: table;
    width:800px;
}
.title_img {
	background-color: #295a76;
}

.drawing-header .section-left,
.drawing-header .section-right {
	display: table-cell;
    height: 100%;
    padding: 1px 4px;
    vertical-align: bottom;
}

.drawing-header .section-left {
	width: 280px;
}

.drawing-header {
	color: white;
	font-size: 17px !important;
}

.drawing-header .section-left,
.drawing-header .section-right {
	/*letter-spacing: 1px;*/ /* causes problems on PDF */
}

.drawing-header .section-left {
	background-color: #333333;
	font-family: 'Roboto', sans-serif;
}

#drawing_header {
	background-color: #295a76;
}

.drawing-header .section-right {
	background-color: #295a76;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	padding-top: 0;
}

.drawing-header .header-1 {
	font-weight: 100;
}

.drawing-header .school,
.drawing-header .header-2 {
	font-weight: 900;	
}

.drawing-header .header-2 {
	padding-left: 2px;	
}

@media print {
	.title_img,
	.drawing-header .section-right {
		color: white !important;
		box-shadow: inset 0 0 0 1000px #295a76;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#295a76', endColorstr='#295a76')"; /* IE8 */
	}
	.drawing-header .section-left {
		color: white !important;
		box-shadow: inset 0 0 0 1000px #333333;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#333333', endColorstr='#333333')"; /* IE8 */
	}
}
/* End Drawing Header styles */
